.auth-wrapper {
    display: flex;
    justify-content: center;
}

.auth-inner {
    padding: 200px 55px 267px 55px !important;
    min-width: 400px;
    max-width: 500px;
    justify-content: center;
    border-radius: 15px;
    transition: all .3s;
    border: 1px solid;
}

.sign-up-inner{
    padding-top: 45px !important;
}

.auth-wrapper .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.auth-wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}