.text-area-container {
    overflow: auto;
    width: 85%;
    resize: none;
    max-height: 70px;
    border-radius: 5px;
}
.text-area-container::-webkit-scrollbar {
    width: 5px;
}
.text-area-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.69);;
    border-radius: 5px;
}
.text-area-container::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 5px;
}

.text-limit {
    width:90%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline-block;
}
.text-limit-none {
    width:80%;
    overflow:hidden;
    text-overflow:ellipsis;
    display:inline-block;
}

.comment-del-icon-modal {
    position:relative;
    top:-3px;
    float: right;
    margin-right: 10px;
}
.comment-del-icon {
    position:relative;
    font-size: 18px;
    top:-5px;
    float: right;
}

.card-heart-icon{
    font-size: 1.2rem;
    color: red;
    cursor: pointer;
    float: left;
}

.card-chat-icon{
    position: relative;
    top: -2px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    float: left;
    margin-left: 25px;
}

.card-send-icon{
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    float: left;
    margin-left: 20px;
}

.card-bookmark-icon{
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    float: right;
}

.card-header-st{
    max-height: 45px;
    background-color: #f7f7f7;
}

.card-header-text{
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cdcdcd;
}

.card-header-txt{
    position: relative;
    right: 6px;
    top: 3px;
    cursor: pointer;
}

.card-comment-icon{
    position: relative;
    top: -2px;
    float: right;
    margin-right: 10px;
    font-size: 1.5rem;
    color: #000000;
}

.wd-25r{
    max-width: 25rem
}

.wd-30r{
    max-width: 30rem
}

.cursor{
    cursor:pointer;
}

.custom-ui{
    text-align: center;
}

.pink_btn {
    width: 90px;
    background: #ed197a;
    margin: 5px;
    color: #fff;
    height: 36px;
    line-height: 36px;
    transition: 0.5s;
    font-size: 17px;
    border: none;
}

.fs14 {
    font-size: 14px;
}
.fs15 {
    font-size: 15px;
}
.fs20 {
    font-size: 20px;
}
.fs25 {
    font-size: 25px;
}
.fs30 {
    font-size: 30px;
}

.prev-photo{
    border: 0.5px solid lightgray;
}

.form-error-message{
    position: relative;
    top: -6px;
}

.main-page-card{
    position: relative;
    top:-3px;
    text-align: center;
    min-height: 680px;
    max-height: 710px;
    margin-bottom: 205px;
}

.post-date-time{
    color: rgb(128, 128, 128);
    font-size: 11px;
    font-weight: bold;
    min-width: 85px;
    position: relative;
    top: 5px;
    left: 9px;
}

.modal-post-date-time{
    color: gray;
    font-weight: bold;
    font-size: 12px;
    min-width: 100px;
    position: relative;
    top: -6px;
    right: -3px;
}

.blush-text {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff,
                0 0 7px #fd62af, 0 0 9px #f566ad, 0 0 11px #f66bb0,
                0 0 13px #ff71b8, 0 0 15px #ff68b3;
}

.pulse-text{
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        color: #FF007F;
    }
    50% {
        color: #fc835b;
    }
    100% {
        color: #FF007F;
    }
}

.pulse-text2{
    animation: pulse2 2s infinite;
}

@keyframes pulse2 {
    0% {
        color: #FF007F;
    }
    25% {
        color: #fc835b;
    }
    50% {
        color: #ff007f;
    }
    75% {
        color: #fc835b;
    }
    100% {
        color: #ff007f;
    }
}


.content-text-limit {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    display: inline-block;
    max-height: 2.8em; /* 2줄까지 노출 */
    line-height: 1.4em;
}

.profile-img-box{
    width: 55px;
    height: 55px;
    border-radius: 70%;
    border: 0.5px solid black;
    overflow: hidden;
    margin-right:6px;
    margin-left:6px;
}
.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: whitesmoke;
}

.comment-profile-img-box{
    width: 35px;
    height: 35px;
    border-radius: 70%;
    border: 0.5px solid black;
    overflow: hidden;
    margin-right:6px;
    margin-left:6px;
    margin-bottom: 6px;
}
.comment-profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: whitesmoke;
}

.my-profile-img-box{
    width: 90px;
    height: 90px;
    border-radius: 70%;
    border: 0.5px solid black;
    overflow: hidden;
}
.my-profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: whitesmoke;
}

.like-follow-button{
    max-height: 30px;
    margin-top: 10px;
    margin-right: 6px;
    font-size: 12px !important;
}

.my-img-field {
    border : 1px solid white;
    width: 100px; /* 원하는 틀의 가로 크기를 설정하세요 */
    height: 120px; /* 원하는 틀의 세로 크기를 설정하세요 */
    overflow: hidden; /* 틀을 벗어나는 이미지를 숨깁니다 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-img-field img {
    width: 130px;
    height: 100%; /* 세로 크기를 자동으로 조정하여 비율을 유지합니다 */
}

.time-text {
    color: rgba(0, 0, 0, 0.4);
}

.alim-cont-div{
    font-size: small;
    text-align: left;
}