.follow-block-container {
    text-align: center;
    /*margin-bottom: 10px;*/
    /*border-top: 1px solid #000; !* 위쪽에 1px 두께의 선 추가 *!*/
    margin-top: 0px;
    padding: 0 0 0 0;
    border-bottom: 1px solid #000; /* 아래쪽에 1px 두께의 선 추가 */
}

.follow-block-content{
    font-size: small;
}

.follow-block-btn-area{
    margin-bottom: 10px;
    font-size: small;
}

.common-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.unfollow-button {
    margin-right: 50px;
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.follow-button{
    margin-right: 50px;
}