body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@media all and (max-width: 768px){
    .prev-photo{
        max-width: 18rem !important;
        min-width: 18rem !important;
        max-height: 18rem !important;
        min-height: 18rem !important;
    }
    /*.navbar{*/
    /*    max-width: 24.4rem !important;*/
    /*    min-width: 24.4rem !important;*/
    /*    max-height: 4rem !important;*/
    /*    min-height: 4rem !important;*/
    /*}*/
    .fixed-top{
        right: auto !important;
        left: auto !important;
    }
    .footer{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
        max-height: 4rem !important;
        min-height: 4rem !important
    }
    .auth-inner{
        padding-bottom: 267px !important;
        padding-top: 250px !important;
    }
    .sign-up-inner{
        padding-bottom: 165px !important;
        padding-top: 140px !important;
    }
    .forgot-password-inner{
        padding-bottom: 310px !important;
        padding-top: 280px !important;
    }
    .main-page-card{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
    }
    .main-wrapper{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
    }
    .App{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
        min-height: 55rem !important;
    }
/*브라우저 창 width가 768px보다 작아지는 순간부터 적용*/
/*모바일*/

}
@media all and (min-width: 768px){
    .prev-photo{
        max-width: 22.4rem !important;
        min-width: 22.4rem !important;
        max-height: 22.4rem !important;
        min-height: 22.4rem !important;
    }
    /*.navbar{*/
    /*    max-width: 24.4rem !important;*/
    /*    min-width: 24.4rem !important;*/
    /*    max-height: 4rem !important;*/
    /*    min-height: 4rem !important;*/
    /*}*/
    .fixed-top{
        right: auto !important;
        left: auto !important;
    }
    .footer{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
        max-height: 4rem !important;
        min-height: 4rem !important
    }
    .main-page-card{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
    }
    .main-wrapper{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
    }
    .App{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
        min-height: 55rem !important;
    }
/*브라우저 창 width가 768px보다 커지는 순간부터 적용*/
/*태블릿*/

}
@media all and (max-width: 1024px){
    .main-page-card{
        width: 100%;
    }
    .prev-photo{
        max-width: 22.4rem !important;
        min-width: 22.4rem !important;
        max-height: 22.4rem !important;
        min-height: 22.4rem !important;
    }
    /*브라우저 창 width가 1024px보다 작아지는 순간부터 적용*/
    /*태블릿*/
    .main-page-card{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
    }
    .main-wrapper{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
    }
}
@media all and (min-width: 1024px){
    .topHeaderDropDown{
        display: block;
        position: relative;
    }
    .prev-photo{
        max-width: 22.4rem !important;
        min-width: 22.4rem !important;
        max-height: 22.4rem !important;
        min-height: 22.4rem !important;
    }
    /*.navbar{*/
    /*    max-width: 24.4rem !important;*/
    /*    min-width: 24.4rem !important;*/
    /*    max-height: 4rem !important;*/
    /*    min-height: 4rem !important;*/
    /*}*/
    .fixed-top{
        right: auto !important;
        left: auto !important;
    }
    .footer{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
        max-height: 4rem !important;
        min-height: 4rem !important
    }
    .main-page-card{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
    }
    .main-wrapper{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
    }
/*브라우저 창 width가 1024px보다 커지는 순간부터 적용*/
/*데스크탑*/
    .App{
        max-width: 24.4rem !important;
        min-width: 24.4rem !important;
        min-height: 55rem !important;
    }

}

* {
    box-sizing: border-box !important;
}

body {
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,label,span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

.App, #root{
    display: flex;
    place-content: center;
    text-align: -webkit-center;
    width: 100%;
    /*height: 100vh;*/
}
.App{}

.main-wrapper {
    text-align: -webkit-center;
    position: relative;
    margin-top: 63px;
    margin-bottom: 50px;
}

.content-wrapper {
    text-align: -webkit-center;
    margin: 10px;
    height: 100%;
}

.hidden {
    display: none!important;
}
.navbar {
    padding: 0 !important;
    min-height: 60px;
    text-align: -webkit-center;
    width: 100%;
    max-width:390px;
}
.navbar-light {
    background-color: #ffffff;
    box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
}
.custom-control-label {
    font-weight: 400;
}
.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}
.forgot-password a {
    color: #167bff;
}

.bi-bookmark-fill{
    color: #00bc4f !important;
}
.card-body {
    text-align: left;
}

.footer{
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: white;
    border: 0.5px solid gray;
}

.custom-ui{
    border : black;
}
.input-file-button{
    width: 100%;
    height: 100%;
}

.card-img-top{
    border-top: 0.1px solid black;
    border-radius: 0 !important;
    min-height: 335px;
    max-height: 335px;
}

.delete-post-button{
    position: relative;
    left: 100px;
}

.add-post-form{
    min-height: 710px;
    background-color: white;
}

.main-page-card{
    border-radius: 0 !important;
    margin-bottom: 0.1rem !important;
}

.headerheader-alim-icon{
    position: relative;
    left: -5px;
}
.header-airplane-icon{
    position: relative;
    top: -2px;
}
.line {
    border-left: 1px solid black;
    height: 1em; /* 혹은 다른 적절한 값 */
    margin: 0 1em; /* 원하는 위치에 조정 가능 */
}



.common-button {
    width: 140px;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.follow-block {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    border-top: 1px solid #000; /* 위쪽에 1px 두께의 선 추가 */
    border-bottom: 1px solid #000; /* 아래쪽에 1px 두께의 선 추가 */
}
.unfollow-button {
    width: 140px;
    margin-right: 50px;
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.follow-button{
    margin-right: 50px;
}

.prf-upload-button{
    display: none;
}

.comment-filed{
    font-family: sans-serif;
}

.commentWrap{
    min-height: 120px;
    max-height: 120px;
}

.comment-user-img{
    float: left;
    cursor: pointer;
}

.comment-wrap-2{
    width: 280px;
}